<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key = "chartType" value = "histogram"/>
      <add key = "factory" value = "FactoryMethodSample.DatabaseLoggerFactory"/>
      <add key = "abstractFactory" value = "AbstractFactorySample.SpringSkinFactory"/>
      <add key = "builder" value = "BuilderSample.AngelBuilder"/>
      <add key = "adapter" value = "AdapterSample.OperationAdapter"/>
      <add key = "os" value = "BridgeSample.WindowsImp"/>
      <add key = "image" value = "BridgeSample.JPGImage"/>
      <add key = "facade" value = "FacadeSample.NewEncryptFacade"/>
      <add key = "proxy" value = "ProxySample.ProxySearcher"/>
      <add key = "command" value = "CommandSample.ExitCommand"/>
      <add key = "discountType" value = "StrategySample.StudentDiscount"/>
      <add key = "subClass" value = "TemplateMethodSample.SavingAccount"/>
      <add key = "visitor" value = "VisitorSample.FADepartment"/>
     </appSettings>
</configuration>